/* You can add global styles to this file, and also import other style files */
@import '/assets/styles/colours';
@import '/assets/styles/variables';
@import '/assets/styles/markdown';

body {
    margin: 0;
    color: $white;
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    min-width: 80ch;
}

h1 {
    font-size: $height-h1;
}
