<div>
  <div class="title-bar" (click)="toggle()" [ngClass]="{'open':isOpen}">
    <h2>
      {{title}}
    </h2>
  </div>
  <div [@openClose]="isOpen ? 'open' : 'closed'" class="content">
    <div>
      Frontend
      <ul>
        <li>Angular</li>
        <li>CSS & SCSS</li>
        <li>HTML</li>
        <li>Knockout</li>
        <li>Web Forms</li>
      </ul>
    </div>
    <div>
      Backend & databases
      <ul>
        <li>C#</li>
        <li>.NET & .NET Core</li>
        <li>ASP.NET MVC</li>
        <li>ASP.NET Web API</li>
        <li>Entity Framework</li>
        <li>LINQ</li>
      </ul>
    </div>
  </div>
</div>
