@import '../../../assets/styles/colours';
@import '../../../assets/styles/variables';

$title-bar-height: calc(#{$header-height});

.title-bar {
    width: calc(100% - 24px);
    background-color: $black;
    height: $title-bar-height;
    opacity: 50%;
    transition: $transition-time;
    text-transform: uppercase;
    color: $white;
    border-radius: 8px;
    padding-left: 24px;
    line-height: $title-bar-height;

    &:hover {
        opacity: 100%;
    }

    &.open {
        color: $orange-primary;
        opacity: 100%;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
}

.content {
    background-color: $black;
    padding: 24px;
    opacity: 50%;
    overflow: hidden;
}