@import '../../../assets/styles/colours';
@import '../../../assets/styles/variables';

$title-bar-height: calc(#{$header-height});

.title-bar {
    width: calc(100% - 48px);
    background-color: $black;
    height: $title-bar-height;
    opacity: 75%;
    text-transform: uppercase;
    color: $white;
    border-radius: $border-radius;
    padding-left: 24px;
    padding-right: 24px;
    line-height: $title-bar-height;

    > div {
      display: inline-block;
      vertical-align: top;

      &.title-bar__title {
        width: 80%;
        line-height: $title-bar-height;
        height: $title-bar-height;

        h2 {
          display: inline-block;
          margin: 0;
        }
      }

      &.title-bar__arrow {
        width: 20%;
        height: $title-bar-height;

        > .title-bar__arrow__icon {
          background-image: url('../../../assets/images/acorn.svg');
          transform: rotate(-180deg);
          background-repeat: no-repeat;
          line-height: $title-bar-height;
          height:$title-bar-height;
          width:$title-bar-height;
          background-size: 32px;
          background-position-x: 16px;
          background-position-y: 16px;
          display:inherit;
          float:right;
          filter: sepia(100%);
          transition: 0.5s;
        }
      }
    }

    &:hover {
        opacity: 100%;
        cursor: pointer;
    }

    &.open {
        color: $orange-primary;
        opacity: 100%;
        transition: 0;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        // transition-delay: 0.5s;
        // transition: 0.5s;

        .title-bar__arrow__icon {
          filter: sepia(0%) !important;
          transform: rotate(0) !important;
        }
    }

    &:not(.open) {
      // transition: 0;
      // transition-delay: 0.5s;
    }
}

.content {
    background-color: $black;
    padding: 24px;
    opacity: 75%;
    overflow: hidden;
    border-bottom-right-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
}
