<form
  *ngIf="!(playerHasJoinedSession$ | async)"
  [formGroup]="playerForm"
  class="form"
  (ngSubmit)="playerFormSubmit()">
  <div>
    <label for="playerName">
      Player name
    </label>
    <input
      id="playerName"
      name="playerName"
      type="text"
      formControlName="playerName"/>
  </div>
  <div
    *ngIf="!playerForm.get('startNewSession').value">
    <label for="sessionId">
      Session ID
    </label>
    <input
      id="sessionId"
      name="sessionId"
      type="text"
      formControlName="sessionId"
      maxlength="4"
      class="spaced-out">
  </div>
  <div
    *ngIf="!!playerForm.get('startNewSession').value">
    <div style="width: calc(50% - 16px); display: inline-block; margin-right: 16px; vertical-align: top;">
      <label
        for="numberOfPlayers">
        Players
      </label>
      <select
        id="numberOfPlayers"
        name="numberOfPlayers"
        formControlName="numberOfPlayers">
        <option *ngFor="let playerCount of validPlayerCounts">{{playerCount}}</option>
      </select>
    </div>
    <div style="width: calc(50% - 16px); display: inline-block; margin-left: 16px; margin-top: 0px; vertical-align: top;">
      <label
        for="gameMode">
        Game mode
      </label>
      <select
        id="gameMode"
        name="gameMode"
        formControlName="gameMode">
        <option *ngFor="let gameMode of allGameModes">{{gameMode.name}}</option>
      </select>
    </div>
  </div>
  <div class="new-session">
    <label for="startNewSession">
      or start a new session
    </label>
    <input
      id="startNewSession"
      name="startNewSession"
      type="checkbox"
      formControlName="startNewSession">
    <input
      type="submit"
      value="Join"
      class="btn"
      [disabled]="disablePlayerFormSubmission$ | async">
  </div>
</form>

<div *ngIf="(playerHasJoinedSession$ | async)" class="form">
  <div>
    {{ numberOfPlayers$ | async }} player {{ gameMode$ | async }}
  </div>
  <div>
    Session ID: {{ (sessionId$ | async) | uppercase }}
  </div>
  <span>Players in game</span>
  <ul>
    <li *ngFor="let player of players">{{player.name}}</li>
  </ul>
</div>
