@import '../../../assets/styles/colours';
@import '../../../assets/styles/variables';

.cards {
  gap: 16px 16px;
  width: 80ch;
  margin: auto;

  &.isMobile {
    grid-template-columns: 100%;
  }
}
