@import '../styles.scss';

.body {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ), url('~/assets/images/forest.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.content {
  margin-top: 64px;
  padding: $page-padding;
  min-height: calc(100vh - #{$header-height} - 2 * #{$page-padding});
  background-attachment: fixed;
}
