@import '../styles.scss';

.content {
  padding: $page-padding;
  background-attachment: fixed;
  margin: auto;
  max-width: 80ch;
}

.content__container {
  width: 100%;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)
    ), url('~/assets/images/forest.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: calc(100vh - #{$header-height});
  margin-top: 64px;
}
