:host() {
    vertical-align: middle;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 1.5fr 1fr 1.5fr;
    // grid-template-columns: 128px auto 128px;
    // position: absolute;
    // top: 40%;
    // bottom: 40%;
    width: calc(100%);
}

.home-text {
    text-align:center;
}


h1 {
    margin: 0;
    padding: 16px;
}