.tech-stack__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  h3 {
    margin-top: 0;
  }

  ul {
    padding-left: 16px;
  }
}

.tech-stack__item {
  width: calc((100% / 3)  - 32px);
  min-width: 16ch;
  padding-left: 16px;
}

app-external-link + app-external-link {
  margin-left: 32px;
}
