<div>
  <h1>About me</h1>
  <p>
    I'm a full-stack web developer in Warwickshire, primarily using the .NET tech stack, Knockout.js and Angular.
  </p>
  <p>Outside of work, I play (two different types of) horn in a local orchestra and brass band. Occasionally, you may also find me running.</p>
  <p>You can follow my various exploits at:</p>
  <app-external-link
    [href]="'https://github.com/joshdavis739'"
    [cssClass]="'github'"
    [text]="'GitHub'"
  ></app-external-link>
  <app-external-link
    [href]="'https://www.linkedin.com/in/josh-davis-182933204/'"
    [cssClass]="'linkedin'"
    [text]="'LinkedIn'"
  ></app-external-link>
</div>
<div>
  <h1>
    About Angular Squirrel
  </h1>
  <p>
    Angular Squirrel is my dumping ground for projects. Current features include:
  </p>
  <ul>
    <li>
      <a [routerLink]="'/resistance-role-generator'">Resistance Role Generator</a>, for Don Eskridge's "The Resistance" (WIP)
    </li>
  </ul>
</div>
