
<app-collapsible-section
[title]="'Tech stack'"
>
  <div>
    Frontend
    <ul>
      <li>Angular</li>
      <li>CSS & SCSS</li>
      <li>HTML</li>
      <li>Knockout</li>
      <li>Web Forms</li>
    </ul>
  </div>
  <div>
    Backend & databases
    <ul>
      <li>C#</li>
      <li>.NET & .NET Core</li>
      <li>ASP.NET MVC</li>
      <li>ASP.NET Web API</li>
      <li>Entity Framework</li>
      <li>LINQ</li>
    </ul>
  </div>
</app-collapsible-section>

<app-collapsible-section
  [title]="'Contact me'">
  <div>
    <ul>
      <li></li>
    </ul>
  </div>
</app-collapsible-section>

<div>
  <i class="github"></i>Github
</div>
