<div class="cards">
  <div class="card-2">
    <div class="card__image"></div>
    <div class="card__description">
      <span class="card__description__date">11th November 2020</span>
      <h2 class="card__description__title">Button transitions</h2>
      <span class="card__description__subtitle">Why (most) button transitions suck</span>
    </div>
  </div>

  <div class="card-2">
    <div class="card__image"></div>
    <div class="card__description">
      <span class="card__description__date">11th November 2020</span>
      <h2 class="card__description__title">Loading states</h2>
      <span class="card__description__subtitle">Avoid the eternal spinner</span>
    </div>
  </div>

  <div class="card-2">
    <div class="card__image"></div>
    <div class="card__description">
      <span class="card__description__date">11th November 2020</span>
      <h2 class="card__description__title">Hover states</h2>
      <span class="card__description__subtitle">Mobile users don't have a cursor</span>
    </div>
  </div>
</div>


<!-- <div class="card">
  <h2>Loading states</h2>
</div> -->
