<div class="cards" [ngClass]="{'isMobile': isMobile}">
  <app-card
    [title]="'Loading states'"
    [subtitle]="'Avoid the eternal spinner'"
    [date]="'11th November 2020'"
    [url]="'loading-states'"
  ></app-card>
  <app-card
    [title]="'Button transitions'"
    [subtitle]="'Why (most) button transitions suck'"
    [date]="'11th November 2020'"
    [url]="'button-transitions'"
  ></app-card>
  <app-card
    [title]="'Hover states'"
    [subtitle]="'Mobile users don\'t have a cursor'"
    [date]="'11th November 2020'"
    [url]="'hover-states'"
  ></app-card>
</div>
