@import '../../../styles.scss';

nav {
    background-color: $black;
    width: calc(100% - 2 * $page-padding);
    height: $header-height;
    padding-left: $page-padding;
    padding-right: $page-padding;
    opacity: 50%;
    transition: $transition-time;

    &:hover {
        opacity: 100%;
    }

    div {
        height: $header-height;
        line-height: $header-height;

        &.home {
            float:left;

            a {
                > span {
                    background-image: url('../../../assets/images/squirrel-48.png');
                    background-size: 24px;
                    background-repeat: no-repeat;
                    padding-left: 32px; 
                    filter: sepia(100%);
                    transition: $transition-time;
                }

                &.active {
                    > span {
                        filter: sepia(0%);
                    }
                }

            }
        }

        &.links {
            float: right;
        }

        a {
            text-transform: uppercase;
            color: $white;
            text-decoration: none;
            transition: $transition-time;
    
            & + a {
                padding-left: 32px;
            }
    
            &.active {
                color: $orange-primary;
            }
        }
    }
}