@import '../../../styles.scss';

nav {
    background-color: $black;
    width: calc(100% - 2 * $page-padding);
    height: $header-height;
    padding-left: $page-padding;
    padding-right: $page-padding;
    opacity: 50%;
    transition: $transition-time;

    &:hover {
        opacity: 100%;
    }

    .links {
        height: $header-height;
        line-height: $header-height;
        float: right;
    
        a {
            text-transform: uppercase;
            color: $white;
            text-decoration: none;

            & + a {
                padding-left: 32px;
            }
        }
    }
}