@import '../../../assets/styles/colours.scss';
@import '../../../assets/styles/variables';

$card-height: 320px;

.card {
  display: inline-block;
  height: $card-height;
  border-radius: $border-radius;
  transition: $transition-time;
  overflow: auto;
  position: relative;
  text-decoration: none;
  color: $white;
  padding: 2rem;

  .card__image {
    height:calc((3 * #{$card-height}) / 5);
    border-radius: $border-radius;
    background: url(../../../assets/images/squirrel.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .card__date {
    font-size: 14px;
    color: $grey-primary;
  }

  .card__title {
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .card__subtitle {
    font-size: 16px;
  }

  .card__text {
    color: $grey-primary;
    display: inline;
    overflow: hidden;
    max-height: 150px;
    height: 180px;
    display: block;

    &:after {
      content  : "";
      position : absolute;
      z-index  : 1;
      bottom   : 64px;
      left     : 32px;
      pointer-events   : none;
      width    : calc(100% - 64px);
      height   : 4em;
    }
  }

  .card__read-more {
    opacity: 0;
    font-style: italic;
    color: $orange-primary;
    float:right;

    &:hover {
      transition-duration: $transition-time;
      text-decoration: underline;
    }
  }


  &:hover,
  &:focus  {
    cursor: pointer;
    box-shadow: 0px 0px 1rem black;
    background-color: black;

    .card__read-more {
      transition-duration: $transition-time;
      opacity: 100%;
    }

    .card__text {
      &:after {
        // background-image: linear-gradient(to bottom, transparent, black);
        // transition-duration: $transition-time;
        transition: background $transition-time linear;
      }
    }
  }
}
